#smartphone-img {
  margin-top: 5rem;
  
  background: url(../assets/Illustration-mobile.png) top/cover;
}

section {
  & header {
    & strong {
      display: block;
      font: var(--fw-md) var(--fs-sm)/100% var(--font-family);
      letter-spacing: 0.08em;
      text-transform: uppercase;

      color: var(--brand-primary);
    }

    & h2 {
      margin-block: .5rem;
    }

    & p {
      color: var(--text-secondary);
    }
  }
}

@media (width >= 80em) {
  #smartphone-img {
    display: none;
  }
}